@model SmartStore.Models.StoreManager
@{
    ViewBag.Title = "AddStoreManager";
}

<h2>AddStoreManager</h2>

@using (Html.BeginForm("AddManager", "Admin"))
{
    @Html.ValidationSummary(true, "Please fix the following issues");
    //excludepropertyErrors set to true in order to removes the list of errors and pass a default msg
    <div class="form-group">
        @Html.LabelFor(i => i.EmailAddress)
        @Html.TextBoxFor(i => i.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.EmailAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Password)
        @Html.TextBoxFor(i => i.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Password)
    </div>

    @Html.HiddenFor(i => i.Id)
    <button type="submit" class="btn btn-success">Add New Store Manager</button>
}