@model IEnumerable<SmartStore.Models.Item>
@{
    ViewBag.Title = "Items";
}

<h2>Shop Smartly</h2>
@*store manager cannot add or delete item*@


<div>
    <div class="panel panel-success">
        <div class="panel-heading" style="height: 50px">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                @Html.Partial("_SearchTab", new { @class = "panel-title" })
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.ActionLink(" ", "Index", "Cart", null, new { @class = "glyphicon glyphicon-shopping-cart" })
            </div>
        </div>
        <div class="panel-body">
            @if (!Model.Any())
            {
                <p>No items in stock</p>
            }
            else
            {   foreach (var item in Model)
                 {
                    <div class="panel panel-default col-xs-6 col-sm-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="panel-heading">
                            @*@Html.DisplayFor(item.ImagePath)*@
                            <img src="@Url.Content(item.ImagePath)" alt="..." class="img-rounded img-responsive text-center" style="height: 200px">
                            @*<img src="~/Content/Images/Screenshot (14).png" class="img-responsive"/>*@
                            @*add the name here with the    image*@
                        </div>
                        <div class="panel-body">
                            <h3 class="text-center"> <strong>@item.Name</strong> </h3>
                            <i>$@item.Amount</i>
                            <p>@item.Category.Name</p>
                            @Html.ActionLink("Details", "Details", "Shop", new { id = item.Id },
                                    new { @class = "btn btn-success" })

                            @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = item.Id },
                                    new { @class = "btn btn-warning" })
                        </div>
                    </div>


                        @*<tr class="info">
                            <td>@item.Name</td>
                            <td>$@item.Amount</td>
                            <td>@item.Category.Name </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Shop", new { id = item.Id },
                                    new { @class = "btn btn-info" })
                            </td>
                            <td>
                                @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = item.Id },
                                    new { @class = "btn btn-success add-btn" })
                            </td>
                        </tr>*@
                    }
            }
        </div>
    </div>

</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#items").on("click", ".add-btn", function () {

                alert("Item Added");
            })
        });
    </script>
}


